.formGroup{
    width: 40vw;
    display: flex;
    display:row;
    
   
    

}

.formGroup input {
    outline:none;
    
}


.categoryButtonContainer{
    margin-top:50px;
  



}
.categoryButton{
    background:red !important;
    margin: 5px;
    
   
    
    

}

.hr{
    margin: 40px auto;
   
}

.categoryContainer{
    min-height:30vh;
    width: 40vw;
}
