.center {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h1 {
  margin: 3rem 0;
  font-size: 3rem;
  width: auto;
}

.margin-bottom-md {
  margin: 3rem 0;
}

.marked {
  background-color: rgba(255, 166, 0, 0.301);
  margin-bottom: 1rem;
  font-size: 0.8rem;
  width: 100%;
}

.nav-links {
  position: relative;
}

.h1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem auto;
}

.h2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.Button {
  border-radius: 5px;
  border: none;
  background-color: #4285f4;
  padding: .3rem 1rem;
  font-size: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  text-decoration: none;
}

.Button--red {
  background-color: crimson;
}

.Button--green {
  background-color: green;
  color: white;
}

.Button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.Button--white {
  background-color: white;
  color: #4285f4;
  cursor: pointer;
}

.Button--white:hover {
  background-color: #4285f4;
  color: white;
}

.Button--white:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background-color: #4285f4;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  margin: 1rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 27em) {
  .container__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 21.5em) {
  .container__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
}

.container__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95vw;
  margin: 0 auto;
}

.mr-small {
  margin-right: 1rem;
}

.mb-small {
  margin-bottom: 1rem;
}

.mt-small {
  margin-top: 1rem;
}

.mt-big {
  margin-top: 5rem;
}

.m-small {
  margin: .5rem;
}

.m-medium {
  margin: 2rem;
}

.mt-big {
  margin-top: 5rem;
}

.m-big {
  margin: 5rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.ninetyvw {
  line-break: auto;
  word-wrap: break-word;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.span--red {
  color: crimson;
  font-weight: bold;
  font-size: 1.5rem;
}
/*# sourceMappingURL=utility.css.map */