*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
 
    
}

html{
    font-size:100%;
}
body{

    box-sizing: border-box;
    width:100%;
    margin: 0 auto;
    height:100vh;
   

}

a, a:visited, a:active{
    text-decoration: none;


}


ul{
    list-style: none;

a, a:visited, a:active{
text-decoration: none;
}
    
}

. search-results{
   font-size: 1.2rem;
font-style: italic;
color: #4285f4; 
}
